apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-node-18
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-node-18
  template:
    metadata:
      labels:
        app: app-node-18
    spec:
      containers:
      - name: app-node-18
        image: tech-challenge-app:latest
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: app-configmap
        livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 10
            failureThreshold: 3
            initialDelaySeconds: 20
        readinessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 10
            failureThreshold: 5
            initialDelaySeconds: 3
        resources:
            requests:
              memory: "350Mi"
              cpu: "400m"
            limits:
              memory: "450Mi"
              cpu: "600m"
